* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #3D80FE;
    --second-color: #1f345b;
}

.header {
    /* border: 2px solid black; */
    height: 60px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* background-color: rgb(0, 0, 0); */
    color: white !important;
    z-index: 999;
    font-size: 1.3rem;
}

.header-links span{
    cursor: pointer;
    transition: all 0.5s ease;
}
.header-links span:hover{
    color: var(--main-color);
}

.home {
    /* color: white !important; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.summary-box {
    position: relative;
    background-color: #131416 !important;
    margin: auto;
    border-radius: 20px;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.summary-area {
    display: flex;
    flex-direction: row;
}

.options {
    font-size: 1.3rem;
    padding-left: 25px;
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: span 2;
}

.area {
    padding: 20px;
    font-size: 1.5rem;
}


.range {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 3px;
    background-color: var(--second-color);
    border-radius: 10px;
    outline: none;
    margin-left: 40px;
}



.reange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    border-radius: 50%;
    cursor: pointer;
}

/* .bottom {
    position: absolute;
    bottom: 10px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 47%;
    
} */
textarea{
    color: white !important;
}
.icon {
    padding: 10px;
    /* color: var(--second-color); */
    color: #555eab !important;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 50%;
    transition: color 0.5s ease;
}

.home {
    z-index: 999;
}

.icon:hover {
    color: #3D80FE !important;
}


.trash {
    position: absolute;
    right: 20px;
}

.user {
    color: #3D80FE;
    transition: none;
}

.bottom-icons{
    margin-top: 5px;
}

