* {
  padding: 0;
  margin: 0;
}

body {
  /* overflow: scroll; */
  height: auto;
}

:root {
  --main-color: #3D80FE;
  --second-color: #1f345b;
}

.m-color {
  color: var(--main-color);
}

.s-color {
  color: var(--second-color);
}



.inputBox {
  position: relative;
}


.span-box {
  position: absolute;
  left: 100px;
  top: 35px;
  font-weight: bold;
  transition: all 0.5s;
}


.borders {
  resize: none;
}

textarea.form-control:focus {
  border-color: #3D80FE;
  box-shadow: none;
}



.inputArea {
  background-color: #ffffff;
  border: 1px solid #d1cfcf !important;
  display: block;
  margin: 20px auto;
  padding: 12px 40px;
  position: relative;
  border-radius: 100px;
  width: 350px;
  transition-duration: 0.5s;
  transition-property: width;
}


.inputArea:focus {
  outline: none;
  width: 80%;
  border: 1px solid #d1cfcf !important;
  padding: 15px 40px;
  background-color: #ffffff;
}

.inputBox .inputArea:focus~.span-box {
  font-weight: 500;
  transform: translateY(-30px);
  background-color: #ffffff;
}

.form-btn {
  display: block;
  width: 75%;
  margin: 0 60px;
  border-radius: 100px;
  background-color: var(--main-color);
  padding: 15px 40px;
  margin-top: 10px;
  border: none;
  color: white;
  font-weight: bold;
  transition-property: all;
  transition-duration: 0.5s;
}

.form-btn:hover {
  background-color: var(--second-color);
}

.cursor {
  cursor: pointer;
}