* {
  padding: 0;
  margin: 0;
  transition: background-color 250ms ease;
}

body {
  /* overflow: scroll; */
  height: auto;
}

/* :root {
  --main-color: #3D80FE;
  --second-color: #1f345b;
} */
:root {
  --main-color: #3D80FE;
  --second-color: #555eab;
  --summary-box-color: #131416;
  --textarea-output: #110d1e;
  --text-area-input: #1b1928;
  --text-color:#fff;
  --login-card-color: #1a1b1d;
}

.light {
  --main-color: #555eab;
  --second-color: #3D80FE;
  --summary-box-color: #fff;
  --textarea-output: lightgray;
  --text-area-input: lightgray;
  --text-color: black;
  --login-card-color: #fff;
}

.m-color {
  color: var(--main-color);
}

.s-color {
  color: var(--second-color);
}



.inputBox {
  position: relative;
}


.span-box {
  position: absolute;
  left: 100px;
  top: 35px;
  font-weight: bold;
  transition: all 0.5s;
}


.borders {
  resize: none;
}



textarea.form-control:focus {
  box-shadow: none;
  border-color: #3D80FE !important;
}


.output textarea {
  border-color: #0f3986 !important;
  background-color: var(--textarea-output) !important;
}

textarea {
  border-color: #0f3986 !important;
  background-color: var(--text-area-input) !important;
}

::placeholder {
  color:var(--text-color) !important;
}

textarea input {
  color: #ffffff !important;
}

.inputArea {
  background-color: black;
  border: 1px solid #d1cfcf !important;
  display: block;
  margin: 20px auto;
  padding: 12px 40px;
  position: relative;
  border-radius: 100px;
  width: 350px;
  transition-duration: 0.3s;
  transition-property: width;
  background-color: black;
  border: none !important;
}

.span-box {
  color: #ffffff !important;
}

input {
  color: #ffffff !important;
}




.inputArea:focus {
  outline: none;
  width: 80%;
  /* border: 1px solid #d1cfcf !important; */
  padding: 15px 40px;
}

.inputBox .inputArea:focus~.span-box {
  font-weight: 500;
  transform: translateY(-30px);
  /* background-color: white; */
  /* color: #3D80FE; */
  color: white;
}



input:valid+.span-box,
input:focus+.span-box {
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  z-index: 1111;
  transform: translate(-17px, -20px) scale(.88);
}


.form-btn {
  display: block;
  width: 75%;
  margin: 0 60px;
  border-radius: 100px;
  background-color: var(--main-color);
  padding: 15px 40px;
  margin-top: 10px;
  border: none;
  color: white;
  font-weight: bold;
  transition-property: all;
  transition-duration: 0.5s;
}

.form-btn:hover {
  background-color: var(--second-color);
}

.cursor {
  cursor: pointer;
}